@use '../utils' as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, 
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: u.$font;
  margin: 0;
  padding: 0;
}